body {
    background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
    color: rgb(239, 250, 27);
    background-image: url(https://media.istockphoto.com/id/530907415/photo/runner-breaking-finish-line-tape.jpg?s=612x612&w=0&k=20&c=IgGh3HhzGiJtxUbSYk8unTvKnK3Wo0m6yuolfSRZAOg=);
    background-size: cover;
    background-position: center;


}